/module_1/build
/module_1/lesson1_1/*.user
/module_1/lesson2_1/*.user
/module_1/lesson2_2/*.user
/module_1/lesson3_1/x64
/module_1/lesson3_1/.vs
/module_1/lesson3_1/*.user
/module_1/lesson3_1/*.filters
/module_1/lesson3_2/.vs
/module_1/lesson3_2/x64
/module_1/lesson3_2/*.filters
/module_1/lesson3_2/*.user
/module_1/lesson4_1/.vs
/module_1/lesson4_1/x64
/module_1/lesson4_1/*.filters
/module_1/lesson4_1/*.user
/module_1/lesson4_2/.vs
/module_1/lesson4_2/x64
/module_1/lesson4_2/*.filters
/module_1/lesson4_2/*.user
